<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Add Item</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <script defer src="https://use.fontawesome.com/releases/v5.0.2/js/all.js"></script>
</head>
<body style="background-color: #2c3e50">
<div class="container">
    <div th:replace="fragments/header :: header(page = 'purchase')"></div>
</div>
<div class="container">
    <div style="margin-top: 10px;">
        <div class="mx-auto" style="width: 400px; text-align: center">
            <div class="card bg-light mb-3" style="max-width: 20rem;">
                <div class="card-header"><b>Add New Item</b></div>
                <div class="card-body">
                <form th:action="@{/purchase}" th:object="${purchase}" method="post">
                        <div th:if="${param.error}">
                            <p style="color: red">Invalid user Details</p>
                        </div>
                        <div class="form-group">
                            <label for="exampleDate">Date</label>
                            <input th:field="*{purchaseDate}" type="date" name="purchaseDate" class="form-control" id="exampleDate" aria-describedby="emailHelp" placeholder="Enter Date">
                             <label for="exampleMaterialType">Select Raw Material</label>
                             <select th:field="*{itemId}" class="form-control" id="exampleItemId"> 
    							<option th:each="i : ${items}" th:value="${i.id}" th:text="${i.type}">
   								 </option>
							</select>
                             <label for="exampleQuantity">Quantity</label>
                            <input th:field="*{itemCount}" type="number" name="itemCount" class="form-control" id="exampleItemCount" aria-describedby="emailHelp" placeholder="Enter Quantity">                  
                            <label for="exampleRemarks">Remarks</label>
                            <input th:field="*{remarks}" type="area" name="remarks" class="form-control" id="exampleRemarks" aria-describedby="emailHelp" placeholder="Enter Remarks">
                            <p th:if="${#fields.hasGlobalErrors()}" th:errors="*{global}"> Global Error</p>
                        </div>
                        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
                        <button type="submit" class="btn btn-success btn-lg">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>