<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Add Room</title>
</head>
<body>
<nav role="navigation">
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/rooms">Rooms</a></li>
    </ul>
</nav>

<form th:action="@{/rooms/add}" th:object="${room}" method="post">
    <table>
        <tr>
            <td>Room Name:</td>
            <td><input type="text" th:field="*{roomName}" /></td>
            <td th:if="${#fields.hasErrors('roomName')}" th:errors="*{roomName}">Room Name Error</td>
            <td th:if="${#fields.hasGlobalErrors()}" th:errors="*{global}">Global Error</td>
        </tr>

        <tr>
            <td><button type="submit">Submit</button></td>
        </tr>
    </table>
</form>
</body>
</html>