<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Items</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <script defer src="https://use.fontawesome.com/releases/v5.0.2/js/all.js"></script>
</head>
<body style="background-color: #2c3e50">
<div class="container">
    <div class="row" style="padding-top: 10px;">
        <div class="col-md-12 col-sm-12">
            <nav class="navbar navbar-expand-lg navbar-light bg-light" style="background-color: #ecf0f1 !important;">
                <a class="navbar-brand" href="/">Inventory Tracking</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" href="/"><i class="fas fa-home"></i> Home <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/rooms"><i class="fas fa-archive"></i> Rooms</a>
                        </li>
                         <li class="nav-item ">
                            <a class="nav-link" href="/rawmaterials"><i class="fas fa-cubes"></i> Raw Materials</a>
                        </li>
                        <li class="nav-item">
                            <a sec:authorize="hasRole('ADMIN')" class="nav-link" href="/items/add" style="color: #d35400"><i class="fas fa-plus-circle"></i> Add Item</a>
                        </li>
                        <!--<li class="nav-item" sec:authorize="isAuthenticated()">-->
                            <!--<a class="nav-link" th:href="@{/users/} + ${user.id} + @{/rooms}">My Rooms</a>-->
                        <!--</li> -->
                    </ul>
                </div>
            </nav>
        </div>
    </div>
</div>
<div class="container">
    <table class="table table-striped" style="background-color: #ecf0f1;">
        <tr>
            <th scope="col"></th>
            <th scope="col">Item code</th>
            <th scope="col">Upload Date</th>
            <th scope="col">Item type</th>
            <th scope="col">Belongs to</th>
            <th scope="col"></th>
        </tr>
        <tr th:each="item : ${items}">
            <td>
                <form th:action="@{/items/} + ${item.id}" th:method="delete">
                    <input  class="btn btn-danger" type="submit" value="Delete" name="delete" sec:authorize="hasRole('ADMIN')" />
                </form>
            </td>
            <td th:text="${item.inventoryCode}">Item code</td>
            <td th:text="${item.date}">Upload Date/td>
            <td th:text="${item.type}">Item type</td>
            <td th:text="${item.room}">Belongs to</td>
            <td>
                <form class="form-group" th:action="@{/items/} + ${item.id}" th:method="put">
                    <div style="width:55%;margin-right:2%;float: left;">
                        <select class="form-control" th:field="*{assignForm.roomName}" style="width:100%;">
                            <option th:each="roomName : ${roomNames}"
                                    th:value="${roomName}"
                                    th:text="${roomName}">Username will appear here
                            </option>
                        </select>
                    </div>
                    <div style="width:42%;float: left;">
                        <button class="btn btn-success" type="submit">Assign</button>
                    </div>
                </form>
            </td>
        </tr>
    </table>
</div>
</body>
</html>