<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Items</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <script defer src="https://use.fontawesome.com/releases/v5.0.2/js/all.js"></script>
</head>
<body style="background-color: #2c3e50">
<div class="container">
    <div th:replace="fragments/header :: header(page = 'purchase')"></div>
</div>
<div class="container">
    <table class="table table-striped" style="background-color: #ecf0f1;">
        <tr>
            <th scope="col">Date</th>
            <th scope="col">Remarks</th>
            <th scope="col"></th>
            <th scope="col"></th>
        </tr>
        <tr th:each="purchase : ${purchases}">
            
            <td th:text="${purchase.date}">Date</td>
            <td th:text="${purchase.remarks}">Remarks</td>
            <td>
                <form th:action="@{/purchase/view/} + ${purchase.id}" th:method="get">
                    <input  class="btn btn-danger" type="submit" value="Edit" name="edit" />
                </form>
            </td>
             <td>
                <form th:action="@{/purchase/} + ${purchase.id}" th:method="delete">
                    <input  class="btn btn-danger" type="submit" value="Delete" name="delete" sec:authorize="hasRole('ADMIN')" />
                </form>
            </td>
        </tr>
    </table>
</div>
</body>
</html>