<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Items</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <script defer src="https://use.fontawesome.com/releases/v5.0.2/js/all.js"></script>
</head>
<body style="background-color: #2c3e50">
<div class="container">
     <div th:replace="fragments/header :: header(page = 'rawmaterial')"></div>
</div>
<div class="container">
    <table class="table table-striped" style="background-color: #ecf0f1;">
        <tr>
            <th scope="col"></th>
            <th scope="col">Item type</th>
            <th scope="col">Unit</th>
        </tr>
        <tr th:each="item : ${rawMaterialList}">
            <td>
                <form th:action="@{/rawmaterials/} + ${item.id}" th:method="delete">
                    <input  class="btn btn-danger" type="submit" value="Delete" name="delete" sec:authorize="hasRole('ADMIN')" />
                </form>
            </td>
            <td th:text="${item.type}">Item type</td>
            <td th:text="${item.unit}">unit</td>
            
        </tr>
    </table>
</div>
</body>
</html>