<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>User</title>
</head>
<body>
<nav role="navigation">
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/users">Users</a></li>
    </ul>
</nav>


<div th:each="entry : ${rooms}" th:with="roomList=${entry.value}">
    <p><strong th:text="${entry.key} "></strong></p>
    <table>
        <tr>
            <th>Room Id</th>
            <th>Room Name</th>
        </tr>
        <tr th:each="room : ${roomList}">
            <td th:text="${room.id}">Room ID</td>
            <td th:text="${room.roomName}">Room Name</td>
        </tr>
    </table>
</div>
</body>
</html>